extends layout

block content
  h1= title
  table
    tr
      th Параметр
      th Значение
    tr
      td Session
      td= JSON.stringify(req.session)
    tr
      td SessionID
      td= req.session.id
    tr
      td Headers
      td= JSON.stringify(req.headers)
    tr
      td Counter
      td= req.session.counter
